body{
  margin: 0
}

.mainHeader {
  background-image: url(images/bg.jpeg);
  min-height: 400px;
}

header.mainHeader .navbar{
  float: right;
  margin-right: 120px;
}

header.mainHeader .navbar li {
  color:silver;
  display: inline-block;
  padding-right:  30px;
  margin-top: 30px;
}

header.mainHeader a img {
  width: 120px;
  margin-top: 30px;
  margin-left: 90px;
}

.titulo{
  color: white;
  text-align: center;
  margin-top: 60px;
  font-family: helvetica;
}

.botonesinicio {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.botonesinicio a {
  border-radius: 5px;
  padding: 7px 10px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-family:helvetica;
}

.botazul {
  background-color: #028bfb;
}

.botverde {
  background-color: #02aa00;
}

.textobot{
  color: white;
  text-align: center;

}

.parteblanca {
  background-color: white;
  text-align: center;


}
.parteblanca img {
  height: 220px;
}
.titblanco{
text-align: center;
font-family: helvetica;
}



.parrablanco {
  text-align: center;
  font-size: 15px;
  color: grey;
}
.partegris p {
  color: grey;
}

.partegris{
  background-color: #F2F2F2;
  border: 1px solid silver;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.botazulfinal{
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-family:helvetica;
  background-color: #028bfb;
  padding: 7px 10px;
  margin: 0 10px;
}
.parteblancafinal {
  background-color: white;
}
.divquecentra{
  text-align: center;
  min-height: 200px;
}
.parrizq {
  width: 50%;
  float: left;
  text-align: left;

}
.parrizq li {
list-style-type: none;
padding-left: 500px;
}


.parrader {
  text-align: left;
}
.negrofinal {
  min-height: 60px;
  background-color: black;
  border-top: 1px solid silver;
}
.negrofinal p {
  color: white;
  font-family: helvetica;
}
.ultimotxt {
  width: 50%;
  text-align: right;
}
